<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Imputaciones view">
    <meta name="author" content="Yisas">

    <title>Imputaciones SETA - CTEICU</title>

  </head>
  <body>
	  <div>
		  <h3>Imputaciones SETA - CTEICU</h3>
	  </div>
	  <br>
  <form class="formulario" method="post" enctype="multipart/form-data" action="#" th:action="@{/imputaciones}">
  	<div>
	  <table>
	  	<tr>
	  		<td>
	  			<label for="targetRedMine">1. Elige el RedMine de destino de las imputaciones (normalmente se eligirá SETA): </label> 
	  			<select name="targetRedMine" id="targetRedMine">
	  				<option th:value="-1" th:text="${seleccioneOpcionText}"></option> 
	  				<option th:each="i : ${redmines}" th:value="${i.id}" th:text="${i.description}" th:selected="${i.id == selectedRedMine}">
	    			</option>
				</select>
	  		</td>
	  	</tr>
	  </table>
	 </div>
	  <br>
	  <div>
		  <label for="fichImputaciones">2. Subimos el excel que contiene las peticiones y las horas por perfil que se imputarán. <a href="/excels/example.api.seta.xlsx" target="_blank">Aquí</a> puedes descargar un excel con la estructura esperada</label>
		  <div>
		  	<input id="fichImputaciones" name="fichImputaciones" type="file" placeholder="Imputaciones">
		  </div>
	  </div>
	  <br>
	  <div>
	  	<label for="singlebutton">3. Pulsamos en el botón 'Imputar' para hacer efectivas las imputaciones del excel</label>
		<div>
			<button id="singlebutton" name="singlebutton" th:formaction="@{/imputaciones/nuevaCarga}">Imputar</button>
		</div>
	  </div>
	  <br>
	  <div>
	  	<span th:text="${testDone}">
	  		Testeando
	  	</span>
	  </div>
	  <br>
	  <div>
	  	<a id="restorebutton" name="restorebutton" th:href="@{/imputaciones/restore}">Restaurar</button>
	  </div>
  </form>
  <br>
  <div>
  	<a id="principalButton" name="principalButton" th:href="@{/}">Volver a la página principal</button>
  </div>
  </body>
</html>