<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Imputaciones view">
    <meta name="author" content="Yisas">

    <title>Principal</title>

  </head>
  <body>
  	<div>
		<a id="cteicubutton" name="cteicubutton" th:href="@{/imputaciones/index}">Imputaciones SETA - CTEICU</button>
	</div>
	<div>
		<a id="gesproybutton" name="gesproybutton" th:href="@{/gesproy/indexindv}">Imputaciones Gesproy</button>
	</div>
	<div>
		<a id="estimacionesbutton" name="estimacionesbutton" th:href="@{/gesproy/indexest}">Estimaciones Gesproy</button>
	</div>
  </body>
</html>